In [1]:
import pandas as pd
import numpy as np

In [2]:
gva_agr=pd.read_excel("/Users/effie/Desktop/term3/research_module/data/county_raw/by_industry/gva_agriculture.xlsx")

gva_agr_back=gva_agr[['EU-Code','Regional-key','Land',"Gebietseinheit"]]
gva_agr_back

    EU-Code  Regional-key Land                           Gebietseinheit
0       NaN           NaN  NaN                                      NaN
1       DE1           8.0   BW                        Baden-Württemberg
2      DE11          81.0   BW              Stuttgart, Regierungsbezirk
3     DE111        8111.0   BW  Stuttgart, Landeshauptstadt, Stadtkreis
4     DE112        8115.0   BW                     Böblingen, Landkreis
..      ...           ...  ...                                      ...
443   DEG0N       16056.0   TH                                      NaN
444   DEG0P       16063.0   TH                                      NaN
445      DE          17.0    D                              Deutschland
446     NaN           NaN  NaN                                      NaN
447     NaN           NaN  NaN                                      NaN

[448 rows x 4 columns]

In [3]:
gva_agr=gva_agr.drop(columns=["Lfd. Nr.",'EU-Code','Regional-key','Land'])
gva_agr.dropna()
gva_agr=gva_agr.set_index('Gebietseinheit')

gva_agr_unstack=gva_agr.unstack()
gva_agr_unstack=pd.DataFrame(gva_agr_unstack)
gva_agr_unstack=gva_agr_unstack.reset_index(level=[0,1])

gva_agr_unstack= gva_agr_unstack.rename(columns={'level_0': 'year', 0: 'ind_agr'})

gva_agr_unstack=gva_agr_unstack.dropna()

In [4]:
data_1= pd.merge(
    left=gva_agr_unstack, 
    right=gva_agr_back,
    on=['Gebietseinheit'],
    how='left'
)
data_1

,year,Gebietseinheit,ind_agr,EU-Code,Regional-key,Land
0,1992,Baden-Württemberg,2586.98,DE1,8.0,BW
1,1992,"Stuttgart, Regierungsbezirk",931.741,DE11,81.0,BW
2,1992,"Stuttgart, Landeshauptstadt, Stadtkreis",27.751,DE111,8111.0,BW
3,1992,"Böblingen, Landkreis",26.453,DE112,8115.0,BW
4,1992,"Esslingen, Landkreis",29.391,DE113,8116.0,BW
...,...,...,...,...,...,...
11956,2019,Saale-Holzland-Kreis,41.912,DEG0J,16074.0,TH
11957,2019,Saale-Orla-Kreis,59.324,DEG0K,16075.0,TH
11958,2019,"Greiz, Landkreis",52.985,DEG0L,16076.0,TH
11959,2019,"Altenburger Land, Landkreis",33.039,DEG0M,16077.0,TH
11960,2019,Deutschland,24896,DE,17.0,D

In [6]:
gva_man=pd.read_excel("/Users/effie/Desktop/term3/research_module/data/county_raw/by_industry/gva_manufacturing.xlsx")
# gva_agr_back=gva_agr[['EU-Code','Regional-key','Land',"Gebietseinheit"]]
gva_man
gva_man=gva_man.drop(columns=["Lfd. Nr.",'EU-Code','Regional-key','Land'])

gva_man=gva_man.set_index('Gebietseinheit')

gva_man_unstack=gva_man.unstack()
gva_man_unstack=pd.DataFrame(gva_man_unstack)
gva_man_unstack=gva_man_unstack.reset_index(level=[0,1])

gva_man_unstack= gva_man_unstack.rename(columns={'level_0': 'year', 0: 'ind_man'})
gva_man_unstack=gva_man_unstack.dropna()

In [7]:
data_2= pd.merge(
    left=data_1, 
    right=gva_man_unstack,
    on=['Gebietseinheit',"year"],
    how='left'
)
data_2

,year,Gebietseinheit,ind_agr,EU-Code,Regional-key,Land,ind_man
0,1992,Baden-Württemberg,2586.98,DE1,8.0,BW,102118
1,1992,"Stuttgart, Regierungsbezirk",931.741,DE11,81.0,BW,47087.9
2,1992,"Stuttgart, Landeshauptstadt, Stadtkreis",27.751,DE111,8111.0,BW,11748.8
3,1992,"Böblingen, Landkreis",26.453,DE112,8115.0,BW,6785.04
4,1992,"Esslingen, Landkreis",29.391,DE113,8116.0,BW,5659.81
...,...,...,...,...,...,...,...
11956,2019,Saale-Holzland-Kreis,41.912,DEG0J,16074.0,TH,646.226
11957,2019,Saale-Orla-Kreis,59.324,DEG0K,16075.0,TH,992.196
11958,2019,"Greiz, Landkreis",52.985,DEG0L,16076.0,TH,886.039
11959,2019,"Altenburger Land, Landkreis",33.039,DEG0M,16077.0,TH,642.414
11960,2019,Deutschland,24896,DE,17.0,D,921025

In [8]:
gva_ser=pd.read_excel("/Users/effie/Desktop/term3/research_module/data/county_raw/by_industry/gva_service.xlsx")
gva_ser=gva_ser.drop(columns=["Lfd. Nr.",'EU-Code','Regional-key','Land'])

gva_ser=gva_ser.set_index('Gebietseinheit')

gva_ser_unstack=gva_ser.unstack()
gva_ser_unstack=pd.DataFrame(gva_ser_unstack)
gva_ser_unstack=gva_ser_unstack.reset_index(level=[0,1])

gva_ser_unstack= gva_ser_unstack.rename(columns={'level_0': 'year', 0: 'ind_ser'})
gva_ser_unstack

       year                           Gebietseinheit      ind_ser
0      1992                                      NaN          NaN
1      1992                        Baden-Württemberg       127889
2      1992              Stuttgart, Regierungsbezirk      52863.8
3      1992  Stuttgart, Landeshauptstadt, Stadtkreis      18173.7
4      1992                     Böblingen, Landkreis      4179.73
...     ...                                      ...          ...
12091  2019                                      NaN      888.072
12092  2019                                      NaN       1595.2
12093  2019                              Deutschland  2.16024e+06
12094  2019                                      NaN          NaN
12095  2019                                      NaN          NaN

[12096 rows x 3 columns]

In [9]:
data_3= pd.merge(
    left=data_2, 
    right=gva_ser_unstack,
    on=['Gebietseinheit',"year"],
    how='left'
)
data_3

       year Gebietseinheit ind_agr EU-Code  Regional-key Land ind_man  ind_ser
0      1992            NaN     NaN     NaN           NaN  NaN       .      NaN
1      1992            NaN     NaN     NaN           NaN  NaN       .        .
2      1992            NaN     NaN     NaN           NaN  NaN       .  761.643
3      1992            NaN     NaN     NaN           NaN  NaN       .      NaN
4      1992            NaN     NaN     NaN           NaN  NaN       .      NaN
...     ...            ...     ...     ...           ...  ...     ...      ...
25456  2019            NaN     NaN     NaN           NaN  NaN     NaN      NaN
25457  2019            NaN     NaN     NaN           NaN  NaN     NaN  888.072
25458  2019            NaN     NaN     NaN           NaN  NaN     NaN   1595.2
25459  2019            NaN     NaN     NaN           NaN  NaN     NaN      NaN
25460  2019            NaN     NaN     NaN           NaN  NaN     NaN      NaN

[25461 rows x 8 columns]

In [10]:
data_3 = data_3.replace('.', np.nan)
data_3= data_3.replace('...', np.nan)

In [11]:
data_3['Regional-key']=data_3['Regional-key'].astype(str)
data_3=data_3[data_3['Regional-key'].str.len()>=3]
data_3['Regional-key']= np.where(data_3['Regional-key'].str.len() < 5, "0"+data_3['Regional-key'],data_3['Regional-key'])

data_3

,year,Gebietseinheit,ind_agr,EU-Code,Regional-key,Land,ind_man,ind_ser
0,1992,NaN,NaN,NaN,0nan,NaN,NaN,NaN
1,1992,NaN,NaN,NaN,0nan,NaN,NaN,NaN
2,1992,NaN,NaN,NaN,0nan,NaN,NaN,761.643
3,1992,NaN,NaN,NaN,0nan,NaN,NaN,NaN
4,1992,NaN,NaN,NaN,0nan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
25456,2019,NaN,NaN,NaN,0nan,NaN,NaN,NaN
25457,2019,NaN,NaN,NaN,0nan,NaN,NaN,888.072
25458,2019,NaN,NaN,NaN,0nan,NaN,NaN,1595.198
25459,2019,NaN,NaN,NaN,0nan,NaN,NaN,NaN
25460,2019,NaN,NaN,NaN,0nan,NaN,NaN,NaN

In [ ]:
data_3.to_stata('../data/clean/employee_by_industry_county.dta')