In [1]:
%matplotlib inline
# !pip install stargazer
# !pip install scipy
# !pip install plotly_express
# !pip install pandas-profiling
# !pip install linearmodels
# !pip install sklearn

import scipy
import numpy as np
import pandas as pd
import pandas.io.formats.style
import seaborn as sns
import statsmodels as sm
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
from IPython.display import HTML
import linearmodels as lm
from linearmodels import PanelOLS
import warnings
warnings.filterwarnings("ignore")
import math
# import sklearn

<a class="anchor" id="8. Difference in differences implementation"></a>


# cash flow is already level data   and there is no infor for No.of bank relations

In [2]:
path="/Users/effie/Desktop/term3/research_module/data/"
data=pd.read_csv(path+"firm_clean/ready_for_regression.csv")

In [3]:
data

,Unnamed: 0,BvDID_firm,year,plz_firm,ort_,regionalkey_,bundesland,BvDID_bank_1,postcode_bank_1,data2025_1,...,year_post,bank_ty_1,bank_ty_2,bank_ty_3,bank_affected,bank_affected_degree,cf_ratio,gros_ratio,shfd_ratio,staf_ln
0,1,DE2010041272,2006.0,13407,"Berlin, Stadt",11,Berlin,DE13190,60311,265857.0,...,0,0,0,1,1,1,0.330788,NaN,0.186654,10.796953
1,2,DE2010041272,2007.0,13407,"Berlin, Stadt",11,Berlin,DE13190,60311,302841.0,...,0,0,0,1,1,1,0.388795,NaN,0.164671,10.816345
2,3,DE2010041272,2008.0,13407,"Berlin, Stadt",11,Berlin,DE13190,60311,359251.0,...,0,0,0,1,1,1,0.324013,NaN,0.147187,10.871004
3,4,DE2010041272,2009.0,13407,"Berlin, Stadt",11,Berlin,DE13190,60311,605765.0,...,1,0,0,1,1,1,0.287983,NaN,0.136694,10.714102
4,5,DE2010041272,2010.0,13407,"Berlin, Stadt",11,Berlin,DE13190,60311,623634.0,...,1,0,0,1,1,1,0.205274,NaN,0.133203,10.847481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14755,14756,DE8350193694,2008.0,84034,"Landshut, Stadt",9261,Bayern,DE13732,84028,3076.0,...,0,1,0,0,1,1,0.346862,NaN,4.373029,10.952160
14756,14757,DE8350193694,2009.0,84034,"Landshut, Stadt",9261,Bayern,DE13732,84028,3135.0,...,1,1,0,0,1,1,0.513524,NaN,4.177445,10.996569
14757,14758,DE8350193694,2010.0,84034,"Landshut, Stadt",9261,Bayern,DE13732,84028,3073.0,...,1,1,0,0,1,1,0.589940,NaN,4.208705,10.993801
14758,14759,DE8350193694,2011.0,84034,"Landshut, Stadt",9261,Bayern,DE13732,84028,3274.0,...,1,1,0,0,1,1,0.491095,NaN,3.870613,10.788224
14759,14760,DE8350193694,2012.0,84034,"Landshut, Stadt",9261,Bayern,DE13732,84028,3268.0,...,1,1,0,0,1,1,0.421317,NaN,3.591382,10.800376

In [4]:
data=data.drop(columns=['Unnamed: 0'])
data.rename(columns={"bank_affected":"firm_affected"},inplace=True)


data["firm_affected"].value_counts()

1    10243
0     4517
Name: firm_affected, dtype: int64

In [5]:
data.columns

Index(['BvDID_firm', 'year', 'plz_firm', 'ort_', 'regionalkey_', 'bundesland',
       'BvDID_bank_1', 'postcode_bank_1', 'data2025_1', 'data2075_1',
       'data11750_1', 'data30680_1', 'data30690_1', 'data38250_1',
       'bank_type_1', 'liquidity_1', 'BvDID_bank_2', 'postcode_bank_2',
       'data2025_2', 'data2075_2', 'data11750_2', 'data30680_2', 'data30690_2',
       'data38250_2', 'bank_type_2', 'liquidity_2', 'BvDID_bank_3',
       'postcode_bank_3', 'data2025_3', 'data2075_3', 'data11750_3',
       'data30680_3', 'data30690_3', 'data38250_3', 'bank_type_3',
       'liquidity_3', 'fias', 'tfas', 'cash', 'toas', 'shfd', 'ncli', 'ltdb',
       'oncl', 'prov', 'culi', 'loan', 'cred', 'wkca', 'ncas', 'empl', 'opre',
       'turn', 'gros', 'staf', 'depr', 'cf', 'rcem', 'rtas',
       'dateinc_year_firm', 'sizecat', 'sector', 'adequacy', 'hausbank',
       'KID_firm', 'empllev', 'staflev', 'fiaslev', 'tfaslev', 'cashlev',
       'toaslev', 'provlev', 'ncaslev', 'turnlev', 'groslev', 'deprlev',
       'culilev', 'loanlev', 'credlev', 'nclilev', 'ltdblev', 'oncllev',
       'wkcalev', 'shfdlev', 'random', 'random_sample_indicator', 'small',
       'year_post', 'bank_ty_1', 'bank_ty_2', 'bank_ty_3', 'firm_affected',
       'bank_affected_degree', 'cf_ratio', 'gros_ratio', 'shfd_ratio',
       'staf_ln'],
      dtype='object')

<a class="anchor" id="8. Difference in differences implementation"></a>

---
# Difference in differences implementation
---

In [6]:
def did_est(variable,df):
    '''
    arguments:variable of interest, dataset
    return: 2x2 dif-in-dif table
    '''
    
    # affected Before and after
    affected_before = round(df.loc[(df['firm_affected']==1) & (df['year_post']!=1),variable].mean(),2)
    affected_after  = round(df.loc[(df['firm_affected']==1) & (df['year_post']==1),variable].mean(),2)

    # unaffected Before and after
    unaffected_before = round(df.loc[(df['firm_affected']!=1) & (df['year_post']!=1),variable].mean(),2)
    unaffected_after  = round(df.loc[(df['firm_affected']!=1) & (df['year_post']==1),variable].mean(),2)
    
    did= pd.DataFrame(data=np.array([[affected_after, affected_before,affected_after - affected_before],
    [unaffected_after, unaffected_before, unaffected_after - unaffected_before]]), index=['affected','unaffected'],columns=['after','before','$\Delta$'])
    
    return did

In [7]:
did_empl=did_est('empl',data)
did_empl

            after  before  $\Delta$
affected     4.32    4.37     -0.05
unaffected   4.12    4.13     -0.01

In [8]:
print("Dif-in-dif estimate for empl is", round(did_empl['$\Delta$'][0]-did_empl['$\Delta$'][1],2))

Dif-in-dif estimate for empl is -0.04

In [9]:
did_staf=did_est('staf_ln',data)
did_staf

            after  before  $\Delta$
affected    10.70   10.67      0.03
unaffected  10.67   10.65      0.02

In [10]:
print("Dif-in-dif estimate for staff expense is", round(did_staf['$\Delta$'][0]-did_staf['$\Delta$'][1],2))

Dif-in-dif estimate for staff expense is 0.01

<a class="anchor" id="9. Regression-adjusted models"></a>

---
#  Regression-adjusted models
---

 The DiD estimator can easily be implemented using regression. This is
a convenient way to obtain estimates and the corresponding standard errors in one step.

Consider the DiD linear regression model:  

$$employment_{i,t} = \beta_1 (Post_t \times affected_i) + \beta_2 X_{it} + \beta_3 firm_i +\beta_4 time_i + \varepsilon_{i,t}$$

In [11]:
model1 = smf.ols(formula = "empl ~ firm_affected*year_post", data = data).fit()

In [12]:
print("Dif-in-dif coefficient estimate for no of employee is ",round(model1.params[3],3))

Dif-in-dif coefficient estimate for no of employee is  -0.041

In [13]:
model2 = smf.ols(formula = "staf_ln ~ firm_affected*year_post", data = data).fit()

In [14]:
print("Dif-in-dif coefficient estimate for staff expense is ",round(model2.params[3],3))

Dif-in-dif coefficient estimate for staff expense is  0.021

  

###  DiD  only include  fixed effects 
$$employment_{i,t} = \beta_1 (post_t \times affected_i) +u_i+v_t+ \varepsilon_{i,t}$$

where $u_i$ isw a firm fixed effect and $v_t$ is a time fixed effect.

In [15]:
data["affected_after"] = data.firm_affected*data.year_post
df_fe = data.set_index(['BvDID_firm','year'])
df_fe

                     plz_firm             ort_  regionalkey_ bundesland  \
BvDID_firm   year
DE2010041272 2006.0     13407    Berlin, Stadt            11     Berlin
             2007.0     13407    Berlin, Stadt            11     Berlin
             2008.0     13407    Berlin, Stadt            11     Berlin
             2009.0     13407    Berlin, Stadt            11     Berlin
             2010.0     13407    Berlin, Stadt            11     Berlin
...                       ...              ...           ...        ...
DE8350193694 2008.0     84034  Landshut, Stadt          9261     Bayern
             2009.0     84034  Landshut, Stadt          9261     Bayern
             2010.0     84034  Landshut, Stadt          9261     Bayern
             2011.0     84034  Landshut, Stadt          9261     Bayern
             2012.0     84034  Landshut, Stadt          9261     Bayern

                    BvDID_bank_1  postcode_bank_1  data2025_1  data2075_1  \
BvDID_firm   year
DE2010041272 2006.0      DE13190            60311    265857.0     79992.0
             2007.0      DE13190            60311    302841.0    103003.0
             2008.0      DE13190            60311    359251.0    126692.0
             2009.0      DE13190            60311    605765.0    177120.0
             2010.0      DE13190            60311    623634.0    370294.0
...                          ...              ...         ...         ...
DE8350193694 2008.0      DE13732            84028      3076.0      1154.0
             2009.0      DE13732            84028      3135.0      1017.0
             2010.0      DE13732            84028      3073.0       875.0
             2011.0      DE13732            84028      3274.0       548.0
             2012.0      DE13732            84028      3268.0       564.0

                     data11750_1  data30680_1  ...  bank_ty_1  bank_ty_2  \
BvDID_firm   year                              ...
DE2010041272 2006.0     253930.0          NaN  ...          0          0
             2007.0     291005.0         6.90  ...          0          0
             2008.0     340248.0        10.10  ...          0          0
             2009.0     582393.0        10.50  ...          0          0
             2010.0     599549.0        11.90  ...          0          0
...                          ...          ...  ...        ...        ...
DE8350193694 2008.0       2826.0          NaN  ...          1          0
             2009.0       2857.0          NaN  ...          1          0
             2010.0       2753.0          NaN  ...          1          0
             2011.0       2819.0          NaN  ...          1          0
             2012.0       2785.0        21.27  ...          1          0

                    bank_ty_3  firm_affected bank_affected_degree  cf_ratio  \
BvDID_firm   year
DE2010041272 2006.0         1              1                    1  0.330788
             2007.0         1              1                    1  0.388795
             2008.0         1              1                    1  0.324013
             2009.0         1              1                    1  0.287983
             2010.0         1              1                    1  0.205274
...                       ...            ...                  ...       ...
DE8350193694 2008.0         0              1                    1  0.346862
             2009.0         0              1                    1  0.513524
             2010.0         0              1                    1  0.589940
             2011.0         0              1                    1  0.491095
             2012.0         0              1                    1  0.421317

                     gros_ratio  shfd_ratio    staf_ln  affected_after
BvDID_firm   year
DE2010041272 2006.0         NaN    0.186654  10.796953               0
             2007.0         NaN    0.164671  10.816345               0
             2008.0         NaN    0.147187  10.871004               0
             2009.0         NaN    0.136694  10.714102               1
             2010.0         NaN    0.133203  10.847481               1
...                         ...         ...        ...             ...
DE8350193694 2008.0         NaN    4.373029  10.952160               0
             2009.0         NaN    4.177445  10.996569               1
             2010.0         NaN    4.208705  10.993801               1
             2011.0         NaN    3.870613  10.788224               1
             2012.0         NaN    3.591382  10.800376               1

[14760 rows x 96 columns]

In [16]:
#for empl
mod = lm.PanelOLS.from_formula('empl ~ affected_after + EntityEffects +TimeEffects ',df_fe)
clfe_empl = mod.fit(cov_type = 'clustered',
cluster_entity = True, cluster_time=True)
print(clfe_empl)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   empl   R-squared:                        0.0012
Estimator:                   PanelOLS   R-squared (Between):             -0.0066
No. Observations:               14760   R-squared (Within):              -0.0067
Date:                Tue, Dec 21 2021   R-squared (Overall):             -0.0067
Time:                        00:14:42   Log-likelihood                    405.62
Cov. Estimator:             Clustered
                                        F-statistic:                      14.915
Entities:                        2557   P-value                           0.0001
Avg Obs:                       5.7724   Distribution:                 F(1,12195)
Min Obs:                       1.0000
Max Obs:                       8.0000   F-statistic (robust):             8.3922
                                        P-value                           0.0038
Time periods:                       8   Distribution:                 F(1,12195)
Avg Obs:                       1845.0
Min Obs:                       173.00
Max Obs:                       2362.0

                               Parameter Estimates
==================================================================================
                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------
affected_after    -0.0373     0.0129    -2.8969     0.0038     -0.0625     -0.0121
==================================================================================

F-test for Poolability: 158.19
P-value: 0.0000
Distribution: F(2563,12195)

Included effects: Entity, Time

In [17]:
#for staff expense
mod = lm.PanelOLS.from_formula('staf_ln ~ affected_after + EntityEffects +TimeEffects ',df_fe)
clfe_staf = mod.fit(cov_type = 'clustered',
cluster_entity = True, cluster_time=True)
print(clfe_staf)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                staf_ln   R-squared:                        0.0002
Estimator:                   PanelOLS   R-squared (Between):              0.0010
No. Observations:               12317   R-squared (Within):               0.0042
Date:                Tue, Dec 21 2021   R-squared (Overall):              0.0010
Time:                        00:14:43   Log-likelihood                    3581.2
Cov. Estimator:             Clustered
                                        F-statistic:                      2.3835
Entities:                        2264   P-value                           0.1227
Avg Obs:                       5.4404   Distribution:                 F(1,10045)
Min Obs:                       1.0000
Max Obs:                       8.0000   F-statistic (robust):             1.2141
                                        P-value                           0.2706
Time periods:                       8   Distribution:                 F(1,10045)
Avg Obs:                       1539.6
Min Obs:                       168.00
Max Obs:                       1942.0

                               Parameter Estimates
==================================================================================
                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------
affected_after     0.0130     0.0118     1.1018     0.2706     -0.0101      0.0360
==================================================================================

F-test for Poolability: 24.712
P-value: 0.0000
Distribution: F(2270,10045)

Included effects: Entity, Time

<a class="anchor" id="9. Regression-adjusted models"></a>

---
#  replication of table 3

---

### Adding controls---Table 3 column 1    empl

The regression formulation of DiD also allows to include additional control variables.  
In a DiD you can control for other covariates that may differ between the groups, and the main reason for doing this is to have a more robust identification and decreasing the variance of the regression coefficient estimates.  

The DiD linear regression model becomes:

$$employment_{i,t} = \beta_1 (Post_t \times affected_i) + \beta_2 X_{it} + \beta_3 firm_i +\beta_4 time_i + \varepsilon_{i,t}$$

In [18]:
# data=data.dropna(axis=0)
name=["shfd_ratio", "gros_ratio", "cf_ratio"]
np.any(~np.isfinite(data[name]),axis=0)

shfd_ratio    False
gros_ratio     True
cf_ratio       True
dtype: bool

In [19]:
model = smf.ols(formula = "empl ~ firm_affected*year_post + firm_affected + year_post + toas + turn + shfd_ratio ", data = data).fit()
model.summary().tables[1]

### Adding controls and fixed effect---Table 3 column 2   empl

In [20]:
mod = lm.PanelOLS.from_formula('empl ~ affected_after + EntityEffects +TimeEffects + toas +turn +shfd_ratio',df_fe)
# print(mod.params)
# print('\n')
# print(mod.pvalues)
didfe_empl = mod.fit(cov_type = 'clustered',
cluster_entity = True, cluster_time=True)
print(didfe_empl)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   empl   R-squared:                        0.1259
Estimator:                   PanelOLS   R-squared (Between):              0.7673
No. Observations:                9713   R-squared (Within):               0.1302
Date:                Tue, Dec 21 2021   R-squared (Overall):              0.7992
Time:                        00:14:44   Log-likelihood                    2128.0
Cov. Estimator:             Clustered
                                        F-statistic:                      273.87
Entities:                        2094   P-value                           0.0000
Avg Obs:                       4.6385   Distribution:                  F(4,7608)
Min Obs:                       1.0000
Max Obs:                       8.0000   F-statistic (robust):             10.785
                                        P-value                           0.0000
Time periods:                       8   Distribution:                  F(4,7608)
Avg Obs:                       1214.1
Min Obs:                       154.00
Max Obs:                       1575.0

                               Parameter Estimates
==================================================================================
                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------
affected_after    -0.0284     0.0190    -1.4931     0.1354     -0.0658      0.0089
shfd_ratio         0.0051     0.0049     1.0370     0.2998     -0.0045      0.0147
toas               0.1459     0.0605     2.4135     0.0158      0.0274      0.2644
turn               0.2326     0.0460     5.0550     0.0000      0.1424      0.3229
==================================================================================

F-test for Poolability: 88.401
P-value: 0.0000
Distribution: F(2100,7608)

Included effects: Entity, Time

### Adding controls---Table 3 column 3    staff

In [21]:
model = smf.ols(formula = "staf_ln ~ firm_affected*year_post + firm_affected + year_post + toas +turn + shfd_ratio+ gros_ratio+ cf_ratio", data = data).fit()
model.summary().tables[1]

### Adding controls---Table 3 column 4    staff

In [22]:
mod = lm.PanelOLS.from_formula('staf_ln ~ affected_after + EntityEffects +TimeEffects + toas +turn + shfd_ratio',df_fe)
didfe_staf = mod.fit(cov_type = 'clustered',
cluster_entity = True, cluster_time=True)
print(didfe_staf)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                staf_ln   R-squared:                        0.0408
Estimator:                   PanelOLS   R-squared (Between):              0.5447
No. Observations:                9425   R-squared (Within):               0.0549
Date:                Tue, Dec 21 2021   R-squared (Overall):              0.5509
Time:                        00:14:44   Log-likelihood                    2976.8
Cov. Estimator:             Clustered
                                        F-statistic:                      78.927
Entities:                        1988   P-value                           0.0000
Avg Obs:                       4.7409   Distribution:                  F(4,7426)
Min Obs:                       1.0000
Max Obs:                       8.0000   F-statistic (robust):             1.5087
                                        P-value                           0.1967
Time periods:                       8   Distribution:                  F(4,7426)
Avg Obs:                       1178.1
Min Obs:                       154.00
Max Obs:                       1491.0

                               Parameter Estimates
==================================================================================
                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------
affected_after     0.0154     0.0139     1.1035     0.2699     -0.0119      0.0427
shfd_ratio        -0.0038     0.0039    -0.9871     0.3236     -0.0115      0.0038
toas               0.1432     0.0879     1.6301     0.1031     -0.0290      0.3155
turn               0.0681     0.0307     2.2192     0.0265      0.0079      0.1282
==================================================================================

F-test for Poolability: 19.816
P-value: 0.0000
Distribution: F(1994,7426)

Included effects: Entity, Time

## Heteroskedastic-Corrected and clustered standard errors

In [ ]:
# empl 
cluster_mod = smf.ols(formula='empl ~ affected_after', data=df_fe).fit(cov_type='nonrobust') 
fe_groups = df_fe.copy()
for i in ['empl', 'firm_affected',"year_post"]:
    fe_groups = fe_groups[pd.notnull(fe_groups[i])]# drop any entries with missing data from the model
result=cluster_mod.get_robustcov_results(cov_type='cluster',groups=fe_groups['sizecat'])#adjust SEs
result.params
print(f'Dif-in-dif coefficient for empl with standard errors clustered by sizecat: coeff is {result.params[1]:.3f} and std.err. is {result.bse[1]:.3f} --> pvalue {result.pvalues[1]:.3f}')

In [ ]:
# staf
cluster_mod = smf.ols(formula='staf ~ affected_after', data=df_fe).fit(cov_type='nonrobust') 
fe_groups = df_fe.copy()
for i in ['staf', 'firm_affected',"year_post"]:
    fe_groups = fe_groups[pd.notnull(fe_groups[i])]# drop any entries with missing data from the model
result=cluster_mod.get_robustcov_results(cov_type='cluster',groups=fe_groups['sizecat'])#adjust SEs
result.params
print(f'Dif-in-dif coefficient for staf with standard errors clustered by sizecat: coeff is {result.params[1]:.3f} and std.err. is {result.bse[1]:.3f} --> pvalue {result.pvalues[1]:.3f}')