In [1]:
import pandas as pd 
import numpy as np

In [2]:
# data=pd.read_stata("/Users/mengxi/Desktop/financial research/firmbank_original.dta")
data=pd.read_stata("/Users/effie/Desktop/term3/research_module/data/firmbank_topic3.dta")

In [ ]:
data

In [ ]:
data = data.query('bank_type=="Savings banks"')
data = data.query('2004<year<2013')
data=data.reset_index().drop(['index'], axis=1)
data.index=data.index+1

In [ ]:
query_data = data.query('empl<20')
data.loc[:,'small'] = data.index.map(lambda x : 1 if x in query_data.index else 0)

query_data = data.query('year>2008')
data.loc[:,'year_post'] = data.index.map(lambda x : 1 if x in query_data.index else 0)

In [ ]:
data.loc[:,'ln_empl'] = np.log(data.empl)
data.loc[:,'ln_toas'] = np.log(data.toas)
data.loc[:,'ln_loan'] = np.log(data.loan+1)
data.eval('capital = shfd / toas', inplace=True)
data.eval('profit = gros / toas', inplace=True)
data.eval('cash_ = cash / toas', inplace=True)

In [ ]:
data

In [ ]:
# 有46条数据，虽然是德国公司，但是saving banks在奥地利。下面代码可以删掉这部分数据。

#data['country_bank']=[x[:2] for x in data['BvDID_bank']]
#data = data.query('country_bank=="DE"')
#data=data.reset_index().drop(['index'], axis=1)
#data.index=data.index+1


data['postcode_bank']=np.where(data['postcode_bank'].str.len()<5, "0"+data['postcode_bank'], data['postcode_bank'])
data


#data['postcode_bank'].value_counts()

In [ ]:
data['postcode_bank'].value_counts()

In [ ]:
#data = data.query('postcode_bank=="1587"')
#data

In [ ]:
data['post_affected_1']=[x[:1] for x in data['postcode_bank']]
data['post_affected_2']=[x[:2] for x in data['postcode_bank']]


# affected states: Sachsen, Nordrhein-Westfalen, Baden-Württemberg, Bayern, Hamburg, Schleswig-Holstein
# postcode of affected banks 
# 01 02 04 08 09
# 32 33 40 41 42 44 45 46 47 48151 48249 48282 48431 48599 48703 48653 49477 49525 50 51 52 53879 53937 53604 53111 57072 57462 57413 57439 57319 57392 57258 57271 58 59 
# 68 69 70 71 72 73 74 75 76646 76133 76530 76437 76275 77 78 79 88 89 97
# 63739 63897 8(80 81 82 83 84 85 86 87 88 89) 90 91 92 93 94 95 96 97 
# 20 21073 22 23701 23909 23552 24 25
# 34x 37x 43x

query_df_1 = data.query('postcode_bank=="48151"|postcode_bank=="48249"|postcode_bank=="48282"|postcode_bank=="48431"|postcode_bank=="48599"|postcode_bank=="48703"|postcode_bank=="48653"|postcode_bank=="49477"|postcode_bank=="49525"|postcode_bank=="53879"|postcode_bank=="53937"|postcode_bank=="53604"|postcode_bank=="53111"|postcode_bank=="57072"|postcode_bank=="57462"|postcode_bank=="57413"|postcode_bank=="57439"|postcode_bank=="57319"|postcode_bank=="57392"|postcode_bank=="57258"|postcode_bank=="57271"')          
data.loc[:,'bank_affected_1'] = data.index.map(lambda x : 1 if x in query_df_1.index else 0)

query_df_2 = data.query('post_affected_2=="01"|post_affected_2=="02"|post_affected_2=="04"|post_affected_2=="08"|post_affected_2=="09"|post_affected_2=="32"|post_affected_2=="33"|post_affected_2=="40"|post_affected_2=="41"|post_affected_2=="42"|post_affected_2=="44"|post_affected_2=="45"|post_affected_2=="46"|post_affected_2=="47"|post_affected_2=="50"|post_affected_2=="51"|post_affected_2=="52"|post_affected_2=="58"|post_affected_2=="59"|post_affected_2=="68"|post_affected_2=="69"|post_affected_2=="70"|post_affected_2=="71"|post_affected_2=="72"|post_affected_2=="73"|post_affected_2=="74"|post_affected_2=="75"|post_affected_2=="77"|post_affected_2=="78"|post_affected_2=="79"')                
data.loc[:,'bank_affected_2'] = data.index.map(lambda x : 1 if x in query_df_2.index else 0)

query_df_3 = data.query('post_affected_1=="8"|post_affected_2=="90"|post_affected_2=="91"|post_affected_2=="92"|post_affected_2=="93"|post_affected_2=="94"|post_affected_2=="95"|post_affected_2=="96"|post_affected_2=="97"|post_affected_2=="20"|post_affected_2=="22"|post_affected_2=="24"|post_affected_2=="25"|postcode_bank=="76646"|postcode_bank=="76133"|postcode_bank=="76530"|postcode_bank=="76437"|postcode_bank=="76275"|postcode_bank=="63739"|postcode_bank=="63897"|postcode_bank=="21073"|postcode_bank=="23701"|postcode_bank=="23909"|postcode_bank=="23552"')
data.loc[:,'bank_affected_3'] = data.index.map(lambda x : 1 if x in query_df_3.index else 0)


query_df = data.query('bank_affected_1==1|bank_affected_2==1|bank_affected_3==1')
data.loc[:,'bank_affected'] = data.index.map(lambda x : 1 if x in query_df.index else 0)

data

In [ ]:
data['bank_affected'].value_counts()

In [ ]:
data.columns

In [ ]:
data=data[['BvDID_firm', 'year','NamederBank','BvDID_bank','bank_type','postcode_bank','fias', 'tfas', 'cash', 'toas', 'shfd', 'ncli', 'prov', 'culi', 'loan',
       'cred', 'wkca', 'ncas', 'empl', 'turn', 'gros', 'depr', 'rcem', 'rtas','dateinc_year_firm', 'sector', 'small', 'year_post', 'bank_affected', 'ln_empl','ln_toas', 'ln_loan', 'capital', 'profit', 'cash_']]
data

In [ ]:
Table_1 = data.describe()
Table_1

In [ ]:
def table_sum_stats(data):
    
    variables = data[
        [
            "fias",
            "tfas",
            "cash",
            "toas",
            "shfd",
            "ncli",
            "prov",
            "culi",
            "loan",
            "cred",
            "wkca",
            "ncas",
            "empl",
            "turn",
            "gros",
            "depr",
            "rcem",
            "rtas",
            "small",
            "year_post",
            "bank_affected",
            "ln_empl",
            "ln_toas",
            "capital",
            "profit",
            "cash_",
        ]
    ]

    table = pd.DataFrame()
    table["Observation"] = variables.count()
    table["Mean"] = variables.mean()
    table["Standard Deviation"] = variables.std()
    table["min"] = variables.min()
    table["max"] = variables.max()
    table = table.astype(float).round(3)
    table["Description"] = [
            "fixed assets",
            "tangible fixed assets",
            "cash",
            "total assets",
            "capital",
            "non-current liabilities",
            "provisions",
            "current liabilities",
            "loans",
            "trade credit",
            "working capital",
            "net current assets",
            "employees",
            "turnover",
            "gross profit",
            "depreciation",
            "return on capital employed(%)",
            "return on total assets(%)",
            "dummy variable equal to 1 if the firm has fewer than 20 employees",
            "dummy variable equal to 1 in and after 2009",
            "dummy variable equal to 1 if the firm has a credit relationship with at least one savings bank that became affected in 2007 or 2008",
            "ln_empl",
            "ln_toas",
            "ratio of the firm’s equity to total assets",
            "ratio of the firm’s total profits to total assets",
            "cash_",
    ]
    

    return table

In [ ]:
table_3 = table_sum_stats(data)
table_3

In [ ]:
data

In [ ]:
# ^.{0,3}

In [ ]:
# data["state"]=

In [ ]:
data.to_csv(path_or_buf=r'/Users/effie/Desktop/term3/research_module/data/clean/frim_data1208.csv')